
body {
    font-family: Arial, sans-serif;
    background-image: url('img/register_bkg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4); /* <== przyciemnienie */
    z-index: -1;
  }

.container
{
    text-align: center;
    
}
  
form {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  input, button {
    width: 100%;
    padding: 0.7rem;
    margin-top: 0.8rem;
    border: none;
    border-radius: 5px;
  }
  
  input {
    background-color: rgba(255,255,255,0.9);
    color: #333;
  }
  
  button {
    background-color: #BD8B9C;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #392F5A;
  }
  
  h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0,0,0,0.6);
  }